USE [LibraRestaurant]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryItems]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryItems](
	[CategoryItemId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_CategoryItems] PRIMARY KEY CLUSTERED 
(
	[CategoryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NameEn] [nvarchar](max) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[FullnameEn] [nvarchar](max) NOT NULL,
	[CodeName] [nvarchar](max) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountTypeId] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[ItemId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DiscountTargetType] [int] NOT NULL,
	[InvoiceId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountTypes]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountTypes](
	[DiscountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsPercentage] [bit] NOT NULL,
	[Value] [money] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[CounponCode] [nvarchar](max) NULL,
	[MinOrderValue] [money] NOT NULL,
	[MinItemQuantity] [int] NOT NULL,
	[MaxDiscountValue] [money] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_DiscountTypes] PRIMARY KEY CLUSTERED 
(
	[DiscountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NameEn] [nvarchar](max) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[FullnameEn] [nvarchar](max) NOT NULL,
	[CodeName] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRoles]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRoles](
	[EmployeeRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
	[RevokedDate] [datetime] NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_EmployeeRoles] PRIMARY KEY CLUSTERED 
(
	[EmployeeRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[Email] [nvarchar](320) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[Status] [int] NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[LastLoggedinDate] [datetimeoffset](7) NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [uniqueidentifier] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[InvoiceNo] [nvarchar](max) NOT NULL,
	[PaymentId] [uniqueidentifier] NOT NULL,
	[Subtotal] [float] NOT NULL,
	[Tax] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[InvoiceTime] [datetime2](7) NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[CanceledTime] [datetime2](7) NULL,
	[CanceledReason] [nvarchar](max) NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](75) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Summary] [nvarchar](1000) NULL,
	[SKU] [nvarchar](100) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Recipe] [nvarchar](1000) NULL,
	[Instruction] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](max) NULL,
	[ReceiverId] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ConversationId] [nvarchar](max) NULL,
	[MessageType] [nvarchar](max) NOT NULL,
	[AttachmentUrl] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeaders](
	[OrderId] [uniqueidentifier] NOT NULL,
	[OrderNo] [nvarchar](max) NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[PaymentMethodId] [int] NULL,
	[PaymentTimeId] [int] NULL,
	[ServantId] [uniqueidentifier] NULL,
	[CashierId] [uniqueidentifier] NULL,
	[CustomerNotes] [nvarchar](max) NULL,
	[ReservationId] [int] NOT NULL,
	[PriceCalculated] [float] NOT NULL,
	[PriceAdjustment] [float] NULL,
	[PriceAdjustmentReason] [nvarchar](max) NULL,
	[Subtotal] [float] NOT NULL,
	[Tax] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[LatestStatus] [int] NOT NULL,
	[LatestStatusUpdate] [datetime] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsPreparationDelayed] [bit] NOT NULL,
	[DelayedTime] [datetime2](7) NULL,
	[IsCanceled] [bit] NOT NULL,
	[CanceledTime] [datetime2](7) NULL,
	[CanceledReason] [nvarchar](max) NULL,
	[IsReady] [bit] NOT NULL,
	[ReadyTime] [datetime2](7) NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedTime] [datetime2](7) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderHeaders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[OrderLineId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[CanceledTime] [datetime] NULL,
	[CanceledReason] [nvarchar](max) NULL,
	[CustomerReview] [nvarchar](max) NULL,
	[CustomerLike] [int] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[FoodPrice] [money] NOT NULL,
 CONSTRAINT [PK_OrderLines] PRIMARY KEY CLUSTERED 
(
	[OrderLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLogs]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ChangeType] [nvarchar](max) NOT NULL,
	[PreviousQuantity] [int] NOT NULL,
	[NewQuantity] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistories]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistories](
	[PaymentHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](max) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[CurrencyId] [int] NULL,
	[Status] [int] NOT NULL,
	[ResponseJSON] [nvarchar](max) NULL,
	[CallbackURL] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentHistories] PRIMARY KEY CLUSTERED 
(
	[PaymentHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ReservationTime] [datetime] NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerPhone] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[ReviewDate] [datetime] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[LikeCounts] [int] NOT NULL,
	[IsVerifiedPurchase] [bit] NOT NULL,
	[Response] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [ntext] NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoredDomainEvents]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredDomainEvents](
	[Id] [uniqueidentifier] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Employee] [nvarchar](100) NOT NULL,
	[CorrelationId] [nvarchar](100) NOT NULL,
	[AggregateId] [uniqueidentifier] NOT NULL,
	[AggregateNumberId] [int] NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StoredDomainEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoredDomainNotifications]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredDomainNotifications](
	[Id] [uniqueidentifier] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Employee] [nvarchar](100) NOT NULL,
	[CorrelationId] [nvarchar](100) NOT NULL,
	[AggregateId] [uniqueidentifier] NOT NULL,
	[AggregateNumberId] [int] NOT NULL,
	[MessageType] [nvarchar](100) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](1024) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_StoredDomainNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[WardId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TaxCode] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[GpsLocation] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[BankBranch] [nvarchar](max) NULL,
	[BankCode] [nvarchar](max) NULL,
	[BankAccount] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[OldToken] [nvarchar](max) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RevokedAt] [datetime] NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Tokens] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 11/3/2024 9:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[WardId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NameEn] [nvarchar](max) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[FullnameEn] [nvarchar](max) NOT NULL,
	[CodeName] [nvarchar](max) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[NumberId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[WardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240801044734_check', N'8.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240801045711_check', N'8.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240831020815_InitialCreate', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive], [Picture], [Id], [NumberId], [Deleted]) VALUES (2, N'Khai vị', N'', 1, N'https://static.vecteezy.com/system/resources/thumbnails/032/325/402/small_2x/mozzarella-cheese-sticks-with-ketchup-isolated-on-transparent-background-file-cut-out-ai-generated-png.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive], [Picture], [Id], [NumberId], [Deleted]) VALUES (3, N'Món gà', N'', 1, N'https://www.pngkey.com/png/full/235-2351748_share-this-image-fried-chicken-dinner-transparent.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive], [Picture], [Id], [NumberId], [Deleted]) VALUES (4, N'Món phụ', N'', 1, N'https://static.vecteezy.com/system/resources/previews/047/732/321/non_2x/alfredo-sauce-in-a-ceramic-dish-transparent-background-png.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryItems] ON 

INSERT [dbo].[CategoryItems] ([CategoryItemId], [CategoryId], [ItemId], [Description], [Id], [NumberId], [Deleted]) VALUES (1, 2, 1, NULL, N'00000000-0000-0000-0000-000000000000', 1, 0)
INSERT [dbo].[CategoryItems] ([CategoryItemId], [CategoryId], [ItemId], [Description], [Id], [NumberId], [Deleted]) VALUES (2, 2, 2, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[CategoryItems] ([CategoryItemId], [CategoryId], [ItemId], [Description], [Id], [NumberId], [Deleted]) VALUES (3, 3, 2, NULL, N'00000000-0000-0000-0000-000000000000', 0, 1)
SET IDENTITY_INSERT [dbo].[CategoryItems] OFF
GO

SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (1, N'VNĐ', N'Việt Nam Đồng', N'00000000-0000-0000-0000-000000000000', 1, 0)
INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (4, N'USD', N'Đô La Mỹ', N'00000000-0000-0000-0000-000000000000', 1, 0)
INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (5, N'GBP', N'Bảng Anh', N'00000000-0000-0000-0000-000000000000', 1, 0)
SET IDENTITY_INSERT [dbo].[Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountId], [DiscountTypeId], [CategoryId], [ItemId], [Comments], [Id], [NumberId], [Deleted], [DiscountTargetType], [InvoiceId], [OrderId]) VALUES (1, 1, NULL, 2, NULL, N'00000000-0000-0000-0000-000000000000', 0, 1, 0, NULL, NULL)
INSERT [dbo].[Discounts] ([DiscountId], [DiscountTypeId], [CategoryId], [ItemId], [Comments], [Id], [NumberId], [Deleted], [DiscountTargetType], [InvoiceId], [OrderId]) VALUES (2, 3, NULL, 1, NULL, N'00000000-0000-0000-0000-000000000000', 0, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountTypes] ON 

INSERT [dbo].[DiscountTypes] ([DiscountTypeId], [Name], [Description], [IsPercentage], [Value], [CreatedAt], [StartTime], [EndTime], [CounponCode], [MinOrderValue], [MinItemQuantity], [MaxDiscountValue], [Id], [NumberId], [Deleted]) VALUES (1, N'Vui hè cùng chơi', N'', 0, 35000.0000, CAST(N'2024-10-18T14:41:12.180' AS DateTime), CAST(N'2024-10-18T03:00:00.000' AS DateTime), CAST(N'2024-11-29T03:00:00.000' AS DateTime), N'HE2024', 50000.0000, 2, 150000.0000, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[DiscountTypes] ([DiscountTypeId], [Name], [Description], [IsPercentage], [Value], [CreatedAt], [StartTime], [EndTime], [CounponCode], [MinOrderValue], [MinItemQuantity], [MaxDiscountValue], [Id], [NumberId], [Deleted]) VALUES (2, N'Quốc khánh 02/09', N'', 1, 20.0000, CAST(N'2024-10-18T15:04:55.893' AS DateTime), CAST(N'2024-11-13T17:00:00.000' AS DateTime), CAST(N'2024-11-29T10:00:00.000' AS DateTime), N'QK0209', 50000.0000, 12, 150000.0000, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[DiscountTypes] ([DiscountTypeId], [Name], [Description], [IsPercentage], [Value], [CreatedAt], [StartTime], [EndTime], [CounponCode], [MinOrderValue], [MinItemQuantity], [MaxDiscountValue], [Id], [NumberId], [Deleted]) VALUES (3, N'Giảm giá sốc Trung Thu', N'', 1, 10.0000, CAST(N'2024-10-20T20:51:08.837' AS DateTime), CAST(N'2024-10-20T17:00:00.000' AS DateTime), CAST(N'2024-11-29T17:00:00.000' AS DateTime), N'', 1.0000, 1, 1.0000, N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[DiscountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeRoles] ON 

INSERT [dbo].[EmployeeRoles] ([EmployeeRoleId], [RoleId], [EmployeeId], [AssignedDate], [RevokedDate], [Id], [NumberId], [Deleted]) VALUES (1, 200, N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', CAST(N'2024-09-17T00:00:00.000' AS DateTime), NULL, N'00000000-0000-0000-0000-000000000000', 0, 1)
INSERT [dbo].[EmployeeRoles] ([EmployeeRoleId], [RoleId], [EmployeeId], [AssignedDate], [RevokedDate], [Id], [NumberId], [Deleted]) VALUES (2, 100, N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', CAST(N'2024-09-19T14:04:58.750' AS DateTime), NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[EmployeeRoles] ([EmployeeRoleId], [RoleId], [EmployeeId], [AssignedDate], [RevokedDate], [Id], [NumberId], [Deleted]) VALUES (3, 300, N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', CAST(N'2024-09-19T14:13:48.330' AS DateTime), NULL, N'00000000-0000-0000-0000-000000000000', 0, 1)
SET IDENTITY_INSERT [dbo].[EmployeeRoles] OFF
GO
INSERT [dbo].[Employees] ([Id], [StoreId], [Email], [FirstName], [LastName], [Password], [Mobile], [Status], [RegisteredAt], [LastLoggedinDate], [NumberId], [Deleted]) VALUES (N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', N'311b642e-663b-4ebc-86d6-473389edd053', N'admin@gmail.com', N'Super', N'Admin', N'$2a$11$34kIqYmkWBS1IfSqdunzh.FCaFyesaEaPGUG7w/F.KkVZ4J1EmoVC', N'09091234567', 0, CAST(N'2024-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-01T08:04:11.2241442+07:00' AS DateTimeOffset), 1, 0)
INSERT [dbo].[Employees] ([Id], [StoreId], [Email], [FirstName], [LastName], [Password], [Mobile], [Status], [RegisteredAt], [LastLoggedinDate], [NumberId], [Deleted]) VALUES (N'69f45c8d-e221-4ef9-8dec-550e86b88858', N'311b642e-663b-4ebc-86d6-473389edd053', N'dangnt@gmail.com', N'Đăng', N'Nguyễn Trần', N'$2a$11$MDTDn4Nk1mQttlikqYygTethHA.mZa/UD7deFrNJRULWhPNPB6rFW', N'0986555145', 0, CAST(N'2024-09-17T20:32:57.9961686' AS DateTime2), NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [StoreId], [Name], [Description], [IsActive], [Id], [NumberId], [Deleted]) VALUES (1, N'311b642e-663b-4ebc-86d6-473389edd053', N'Menu nhà hàng Libra chi nhánh 1', NULL, 1, N'00000000-0000-0000-0000-000000000000', 1, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [Time], [IsRead], [ConversationId], [MessageType], [AttachmentUrl], [Id], [NumberId], [Deleted]) VALUES (1, NULL, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'Khách bàn số 12 đã đặt mónasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd', CAST(N'2024-10-12T21:08:45.410' AS DateTime), 1, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'order', NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [Time], [IsRead], [ConversationId], [MessageType], [AttachmentUrl], [Id], [NumberId], [Deleted]) VALUES (2, NULL, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'Khách bàn số 12 đã đặt món', CAST(N'2024-10-12T21:08:42.757' AS DateTime), 1, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'order', NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [Time], [IsRead], [ConversationId], [MessageType], [AttachmentUrl], [Id], [NumberId], [Deleted]) VALUES (3, NULL, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'Khách bàn số 12 đã đặt món', CAST(N'2024-10-12T20:57:16.687' AS DateTime), 1, N'311b642e-663b-4ebc-86d6-473389edd053-12', N'order', NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLines] ON 

INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ItemId], [Quantity], [IsCanceled], [CanceledTime], [CanceledReason], [CustomerReview], [CustomerLike], [Id], [NumberId], [Deleted], [FoodPrice]) VALUES (1, N'a570e603-9cf5-4460-9719-2a1f75054796', 1, 3, 0, NULL, NULL, NULL, 0, N'00000000-0000-0000-0000-000000000000', 0, 0, 0.0000)
INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ItemId], [Quantity], [IsCanceled], [CanceledTime], [CanceledReason], [CustomerReview], [CustomerLike], [Id], [NumberId], [Deleted], [FoodPrice]) VALUES (2, N'a570e603-9cf5-4460-9719-2a1f75054796', 2, 4, 0, NULL, NULL, NULL, 0, N'00000000-0000-0000-0000-000000000000', 0, 0, 0.0000)
INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ItemId], [Quantity], [IsCanceled], [CanceledTime], [CanceledReason], [CustomerReview], [CustomerLike], [Id], [NumberId], [Deleted], [FoodPrice]) VALUES (14, N'59f5620a-661d-48b8-815c-e4b739652a41', 1, 4, 0, NULL, NULL, NULL, 0, N'00000000-0000-0000-0000-000000000000', 0, 0, 0.0000)
SET IDENTITY_INSERT [dbo].[OrderLines] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLogs] ON 

INSERT [dbo].[OrderLogs] ([LogId], [OrderId], [ItemId], [ChangeType], [PreviousQuantity], [NewQuantity], [Time], [Id], [NumberId], [Deleted]) VALUES (2, N'59f5620a-661d-48b8-815c-e4b739652a41', 3, N'update', 1, 2, CAST(N'2024-10-13T13:29:52.447' AS DateTime), N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[OrderLogs] ([LogId], [OrderId], [ItemId], [ChangeType], [PreviousQuantity], [NewQuantity], [Time], [Id], [NumberId], [Deleted]) VALUES (3, N'59f5620a-661d-48b8-815c-e4b739652a41', 3, N'update', 2, 3, CAST(N'2024-10-13T20:39:03.753' AS DateTime), N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[OrderLogs] ([LogId], [OrderId], [ItemId], [ChangeType], [PreviousQuantity], [NewQuantity], [Time], [Id], [NumberId], [Deleted]) VALUES (4, N'59f5620a-661d-48b8-815c-e4b739652a41', 3, N'update', 3, 4, CAST(N'2024-10-13T20:39:57.423' AS DateTime), N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[OrderLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentHistories] ON 

SET IDENTITY_INSERT [dbo].[PaymentHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [Picture], [IsActive], [Id], [NumberId], [Deleted]) VALUES (3, N'Paypal', N'Thanh toán bằng Paypal', N'https://cdn-icons-png.flaticon.com/512/250/250548.png', 0, N'00000000-0000-0000-0000-000000000000', 1, 0)
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [Picture], [IsActive], [Id], [NumberId], [Deleted]) VALUES (4, N'VNPay', N'Thanh toán bằng VNPay', N'https://cdn-icons-png.flaticon.com/512/4614/4614125.png', 1, N'00000000-0000-0000-0000-000000000000', 2, 0)
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [Picture], [IsActive], [Id], [NumberId], [Deleted]) VALUES (5, N'Stripe', N'Thanh toán bằng Stripe', N'https://cdn-icons-png.flaticon.com/512/5968/5968312.png', 1, N'00000000-0000-0000-0000-000000000000', 3, 0)
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationId], [TableNumber], [Capacity], [Status], [StoreId], [Description], [ReservationTime], [CustomerName], [CustomerPhone], [Code], [Id], [NumberId], [Deleted]) VALUES (5, 2, 2, 0, N'311b642e-663b-4ebc-86d6-473389edd053', N'', NULL, NULL, NULL, N'http://res.cloudinary.com/dcystvroz/image/upload/v1729068308/QRs/ks6cn0mnadgcc9oqpeq0.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Reservations] ([ReservationId], [TableNumber], [Capacity], [Status], [StoreId], [Description], [ReservationTime], [CustomerName], [CustomerPhone], [Code], [Id], [NumberId], [Deleted]) VALUES (10, 4, 4, 3, N'82ebe445-8e0c-45b3-b06c-b33feba1fbc2', N'', NULL, NULL, NULL, N'http://res.cloudinary.com/dcystvroz/image/upload/v1729068464/QRs/yocw2kpu31xiabueo5a2.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Reservations] ([ReservationId], [TableNumber], [Capacity], [Status], [StoreId], [Description], [ReservationTime], [CustomerName], [CustomerPhone], [Code], [Id], [NumberId], [Deleted]) VALUES (13, 12, 4, 3, N'311b642e-663b-4ebc-86d6-473389edd053', N'', NULL, N'test test', N'0909686199', N'http://res.cloudinary.com/dcystvroz/image/upload/v1729068477/QRs/jz4cxbcvl46z3fsissss.png', N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [ItemId], [CustomerName], [CustomerEmail], [Rating], [Comment], [ReviewDate], [Picture], [LikeCounts], [IsVerifiedPurchase], [Response], [Id], [NumberId], [Deleted]) VALUES (1, 22, N'Nguyễn Văn Nam', N'namnguyen@gmail.com', 5, N'Món ăn rất ngon, chúng tôi rất hài lòng về nhà hàng của các bạn.', CAST(N'2024-11-02T10:48:00.113' AS DateTime), NULL, 0, 0, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Reviews] ([ReviewId], [ItemId], [CustomerName], [CustomerEmail], [Rating], [Comment], [ReviewDate], [Picture], [LikeCounts], [IsVerifiedPurchase], [Response], [Id], [NumberId], [Deleted]) VALUES (2, 22, N'Đặng Thị Như Ý', N'nhuy10@gmail.com', 4, N'Tạm được', CAST(N'2024-11-02T10:55:37.133' AS DateTime), NULL, 0, 0, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Reviews] ([ReviewId], [ItemId], [CustomerName], [CustomerEmail], [Rating], [Comment], [ReviewDate], [Picture], [LikeCounts], [IsVerifiedPurchase], [Response], [Id], [NumberId], [Deleted]) VALUES (3, 22, N'Johnny', N'aa@gmail.com', 4, N'Good!', CAST(N'2024-11-02T10:57:42.640' AS DateTime), NULL, 0, 0, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (100, N'Administrator', N'asdasd', N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (200, N'Manager', NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [Id], [NumberId], [Deleted]) VALUES (300, N'Employee', NULL, N'00000000-0000-0000-0000-000000000000', 0, 0)
GO
INSERT [dbo].[StoredDomainEvents] ([Id], [Data], [Employee], [CorrelationId], [AggregateId], [AggregateNumberId], [Action], [CreationDate]) VALUES (N'726dedeb-7652-41a7-aa89-009c82750cef', N'{"Timestamp":"2024-10-16T21:11:03.8478246+07:00","AggregateId":"00000000-0000-0000-0000-000000000000","AggregateNumberId":39,"MessageType":"MessageUpdatedEvent"}', N'admin@gmail.com', N'internal - 2d311823-c7c3-43a1-8137-5c32b6b73c8b', N'00000000-0000-0000-0000-000000000000', 0, N'MessageUpdatedEvent', CAST(N'2024-10-16T21:11:03.8486337' AS DateTime2))
INSERT [dbo].[StoredDomainEvents] ([Id], [Data], [Employee], [CorrelationId], [AggregateId], [AggregateNumberId], [Action], [CreationDate]) VALUES (N'b1a13087-d626-44d6-96f3-0299e2da1d30', N'{"Timestamp":"2024-10-27T11:03:07.5685865+07:00","AggregateId":"00000000-0000-0000-0000-000000000000","AggregateNumberId":42,"MessageType":"MessageUpdatedEvent"}', N'admin@gmail.com', N'internal - b21ecdeb-9834-4d19-8126-8aa7a91a2cbb', N'00000000-0000-0000-0000-000000000000', 0, N'MessageUpdatedEvent', CAST(N'2024-10-27T11:03:07.5687962' AS DateTime2))
INSERT [dbo].[StoredDomainEvents] ([Id], [Data], [Employee], [CorrelationId], [AggregateId], [AggregateNumberId], [Action], [CreationDate]) VALUES (N'8d0861c1-e728-41ad-84a9-04bc93d47532', N'{"Timestamp":"2024-10-16T14:36:34.8638844+07:00","AggregateId":"00000000-0000-0000-0000-000000000000","AggregateNumberId":31,"MessageType":"MessageSentEvent"}', N'', N'internal - 776b6ab5-8314-4983-b1f0-485632b3407d', N'00000000-0000-0000-0000-000000000000', 0, N'MessageSentEvent', CAST(N'2024-10-16T14:36:34.8639904' AS DateTime2))
GO
INSERT [dbo].[Stores] ([StoreId], [Name], [CityId], [DistrictId], [WardId], [IsActive], [TaxCode], [Address], [GpsLocation], [PostalCode], [Phone], [Fax], [Email], [Website], [Logo], [BankBranch], [BankCode], [BankAccount], [Id], [NumberId], [Deleted]) VALUES (N'311b642e-663b-4ebc-86d6-473389edd053', N'Chi nhánh Quận 1', 50, 550, 8671, 1, N'', N'Đ. 50 Nguyễn Văn Thủ, P. Đa Kao, Quận 1, Thành phố Hồ Chí Minh', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'311b642e-663b-4ebc-86d6-473389edd053', 0, 0)
INSERT [dbo].[Stores] ([StoreId], [Name], [CityId], [DistrictId], [WardId], [IsActive], [TaxCode], [Address], [GpsLocation], [PostalCode], [Phone], [Fax], [Email], [Website], [Logo], [BankBranch], [BankCode], [BankAccount], [Id], [NumberId], [Deleted]) VALUES (N'82ebe445-8e0c-45b3-b06c-b33feba1fbc2', N'Chi nhánh Quận 10', 50, 559, 8808, 1, N'1234567890123', N'279 Đ. Nguyễn Tri Phương, Phường 5, Quận 10, Hồ Chí Minh', N'', N'700000', N'0996614884', N'', N'demo@gmail.com', N'https://librarestaurant.com', N'', N'', N'', N'', N'82ebe445-8e0c-45b3-b06c-b33feba1fbc2', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Tokens] ON 

INSERT [dbo].[Tokens] ([TokenId], [OldToken], [EmployeeId], [IsActive], [RevokedAt], [Id], [NumberId], [Deleted], [ExpireDate]) VALUES (1, N'UYJWE6r5GSAXlU6RpqCz1dJdYczXrCCOf0+f0XH9iZc=', N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', 1, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0, CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Tokens] ([TokenId], [OldToken], [EmployeeId], [IsActive], [RevokedAt], [Id], [NumberId], [Deleted], [ExpireDate]) VALUES (2, N'Xb9yN5uAKYLfYFok8Gi7Qjvu+nRmPUjp3mSRPXTZuTc=', N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', 1, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0, CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Tokens] ([TokenId], [OldToken], [EmployeeId], [IsActive], [RevokedAt], [Id], [NumberId], [Deleted], [ExpireDate]) VALUES (3, N'Y4ecSwwtgrdIxKN946otqY6NEA8/P9+Jr+9zRKx0tPI=', N'de5ce23f-eeb1-45e1-bd3c-1a8cde5650a3', 1, NULL, N'00000000-0000-0000-0000-000000000000', 0, 0, CAST(N'2024-11-05T16:29:40.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tokens] OFF

GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((0)) FOR [DiscountTargetType]
GO
ALTER TABLE [dbo].[OrderLines] ADD  DEFAULT ((0.0)) FOR [FoodPrice]
GO
ALTER TABLE [dbo].[OrderLogs] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Id]
GO
ALTER TABLE [dbo].[OrderLogs] ADD  DEFAULT ((0)) FOR [NumberId]
GO
ALTER TABLE [dbo].[OrderLogs] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Tokens] ADD  DEFAULT ('2024-01-01T00:00:00.000') FOR [ExpireDate]
GO
ALTER TABLE [dbo].[CategoryItems]  WITH CHECK ADD  CONSTRAINT [FK_CategoryItem_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[CategoryItems] CHECK CONSTRAINT [FK_CategoryItem_Category_CategoryId]
GO
ALTER TABLE [dbo].[CategoryItems]  WITH CHECK ADD  CONSTRAINT [FK_CategoryItem_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MenuItems] ([ItemId])
GO
ALTER TABLE [dbo].[CategoryItems] CHECK CONSTRAINT [FK_CategoryItem_Item_ItemId]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_Category_CategoryId]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_DiscountType_DiscountTypeId] FOREIGN KEY([DiscountTypeId])
REFERENCES [dbo].[DiscountTypes] ([DiscountTypeId])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_DiscountType_DiscountTypeId]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_Invoice_InvoiceId]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MenuItems] ([ItemId])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_Item_ItemId]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderHeaders] ([OrderId])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_Order_OrderId]
GO
ALTER TABLE [dbo].[EmployeeRoles]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRole_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRoles] CHECK CONSTRAINT [FK_EmployeeRole_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeRoles]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRole_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[EmployeeRoles] CHECK CONSTRAINT [FK_EmployeeRole_Role_RoleId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Store_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employee_Store_StoreId]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Store_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menu_Store_StoreId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Store_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_Order_Store_StoreId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_OrderHeader_PaymentMethod_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_OrderHeader_PaymentMethod_PaymentMethodId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_OrderHeader_Reservation_ReservationId] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([ReservationId])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_OrderHeader_Reservation_ReservationId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MenuItems] ([ItemId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLine_Item_ItemId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderHeaders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLine_Order_OrderId]
GO
ALTER TABLE [dbo].[OrderLogs]  WITH CHECK ADD  CONSTRAINT [FK_OrderLog_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MenuItems] ([ItemId])
GO
ALTER TABLE [dbo].[OrderLogs] CHECK CONSTRAINT [FK_OrderLog_Item_ItemId]
GO
ALTER TABLE [dbo].[OrderLogs]  WITH CHECK ADD  CONSTRAINT [FK_OrderLog_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderHeaders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLogs] CHECK CONSTRAINT [FK_OrderLog_Order_OrderId]
GO
ALTER TABLE [dbo].[PaymentHistories]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistory_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderHeaders] ([OrderId])
GO
ALTER TABLE [dbo].[PaymentHistories] CHECK CONSTRAINT [FK_PaymentHistory_Order_OrderId]
GO
ALTER TABLE [dbo].[PaymentHistories]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistory_PaymentMethod_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[PaymentHistories] CHECK CONSTRAINT [FK_PaymentHistory_PaymentMethod_PaymentMethodId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Store_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservation_Store_StoreId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MenuItems] ([ItemId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Review_Item_ItemId]
GO
ALTER TABLE [dbo].[Tokens]  WITH CHECK ADD  CONSTRAINT [FK_Token_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Tokens] CHECK CONSTRAINT [FK_Token_Employee_EmployeeId]
GO
/****** Object:  StoredProcedure [dbo].[sp_logOrderChange]    Script Date: 11/3/2024 9:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_logOrderChange]
    @p_orderId UNIQUEIDENTIFIER,
    @p_itemId INT,
    @p_changeType VARCHAR(10),
    @p_oldQty INT,
    @p_newQty INT
AS
BEGIN
    SET NOCOUNT ON; -- Ngăn chặn việc trả về số lượng hàng bị ảnh hưởng

    BEGIN TRY
        BEGIN TRANSACTION; -- Bắt đầu giao dịch

        -- Insert log entry into OrderLogs
        INSERT INTO OrderLogs (OrderId, ItemId, ChangeType, PreviousQuantity, NewQuantity, Time)
        VALUES (@p_orderId, @p_itemId, @p_changeType, @p_oldQty, @p_newQty, GETDATE());

        COMMIT TRANSACTION; -- Cam kết giao dịch nếu không có lỗi
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; -- Quay lại nếu có lỗi xảy ra
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        -- Lấy thông tin lỗi
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Ném lại lỗi
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
